html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #CCFF00;
}


.wrapper {
    width: 450px;
    background-color: blueviolet;
    height: 300px;
    color: white;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}


.inputusername,
.inputpassword {
    width: 100%;
    margin: 15px 0;
}

.inputusername input,
.inputpassword input {
    width: 100%;
    height: 50px;
    border: 2px solid white;
    border-radius: 40px;
    padding: 10px;
    font-size: 16px;
}

.LogInButton {
    width: 100%;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 20px;
    color: black;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogInButton:hover {
    background-color: #f0f0f0;
}

.LogInButton:focus {
    outline: none;
}